* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #4D3E82;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
}
.container  ul {
    display: flex;

}
.container  ul li {
    list-style-type: none;
    padding-right: 25px;
}
.container  ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}
.container  ul li a:hover {
    color: rgb(205, 197, 197);
    text-decoration: underline;
}
.container div {
    color: white;
    font-weight: bold;
}
.container div span {
    color: tomato;
}
.container div #website-c {
    color: green;
}

/* main area code start here */

.search-icon-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-image: url(images/website\ banner.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.search-icon-parent input {
	width: 350px;
	height: 26px;
	padding-left: 10px;
    margin-right: 0px;
    border-radius: 2px;
    border: 1px solid gray;
}
.search-icon-parent div i {
	color: #ffffff;
	background-color: green;
	padding: 5px;
	border-radius: 2px;
    border: 1px solid gray;
}